.NavBar {
    display: flex;
    align-items: center;
}

.NavList {
    display: flex;
    gap: 12px;
    height: fit-content;
}

.link {
    border-bottom: 2px solid transparent;
    padding: 8px 4px 6px;
    display: inline-block;
    font-weight: 600;
    transition: border-color .2s ease, color .2s ease;

    @include respond-to(desktop) {
        &:hover {
            border-color: $Base2;
        }
    }

    &._active {
        border-color: $Primary5;
        color: $Primary8;
    }

    &._accent {
        color: $Bone6;
    }
}
