.IndexHero {
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    & :global(.ant-card) {
        width: 300px;
    }

    @include respond-to(tablet) {
        margin-top: 48px;
    }

    @include respond-to(mobile) {
        margin-top: 24px;
    }
}

.slogan {
    color: $Primary5;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 88px;

    & span {
        color: $Bone5;
    }

    @include respond-to(tablet) {
        margin-bottom: 32px;
        font-size: 48px;
    }

    @include respond-to(mobile) {
        margin-bottom: 24px;
        font-size: 24px;
    }
}

.svg {
    width: 42px;
    height: 42px;
    display: inline;
    transform: translateY(4px) rotate(22deg) scaleX(-1);

    @include respond-to(tablet) {
    width: 36px;
    height: 36px;
    }

    @include respond-to(mobile) {
    width: 24px;
    height: 24px;
    }
}