.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 392px);
    gap: 48px;
    align-items: start;

    &._centered {
        justify-content: center;
    }

    @include respond-to(tablet) {
        gap: 24px;
    }

    @include respond-to(mobile) {
        gap: 16px;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
}

.card {
    background-color: rgba($Base1, .3);
    color: $Bone5;
    backdrop-filter: blur(4px);
    font-weight: 600;
    min-width: 100%;
    min-height: 100%;
    font-size: 16px;
    letter-spacing: .1px;
    cursor: pointer;
    transition: box-shadow .4s ease, background-color .4s ease;

    &:not(._) {
        box-shadow: 8px 10px 0 0 rgb(255 255 255 / 5%);

        &:hover {
            box-shadow: 14px 16px 0 0 rgb(255 255 255 / 10%);
            background-color: rgba($Base1, .4);

            & :global(.ant-card-head-wrapper) {
                transform: translateX(0);

                &::after {
                    margin-left: 0;
                }
            }
        }
    }

    & :global(.ant-card-head) {
        border-color: transparent;
        color: $Primary5;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 0;
        overflow: hidden;

        & :global(.ant-card-head-wrapper) {
            transform: translateX(20px);
            transition: transform .4s ease;

            /* stylelint-disable-next-line no-descending-specificity */
            &::after {
                content: "➥";
                margin-left: 10px;
                transition: margin .4s ease;
            }
        }

        & :global(.ant-card-head-title) {
            white-space: wrap;
            text-overflow: unset;
            max-width: calc(100% - 30px);
            padding: 8px 24px 4px;
        }
    }
}