.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 48px;
    align-items: start;

    &._centered {
        justify-content: center;
    }

    @include respond-to(tablet) {
        gap: 24px;
    }

    @include respond-to(mobile) {
        gap: 16px;
    }
}

.card {
    background-color: rgba($Base1, .3);
    color: $Bone5;
    backdrop-filter: blur(4px);
    font-weight: 600;
    min-width: 100%;
    min-height: 100%;
    font-size: 16px;
    letter-spacing: .1px;
    cursor: pointer;
    transition: box-shadow .4s ease, background-color .4s ease;

    &:not(._) {
        box-shadow: 8px 10px 0 0 rgb(255 255 255 / 5%);

        &:hover {
            box-shadow: 14px 16px 0 0 rgb(255 255 255 / 10%);
            background-color: rgba($Base1, .4);
        }
    }

    & :global(.ant-card-head) {
        border-color: transparent;
        color: $Primary5;
        font-weight: 700;
        font-size: 20px;
        text-align: center;

        & :global(.ant-card-head-title) {
            white-space: wrap;
            text-overflow: unset;
            padding: 8px 12px 12px;
        }
    }
}